rekognition_url =  "http://rekognition.com/func/api/"
rekognition_api_key = "yHvz5xQExIxdKT1M"
rekognition_api_secret = "IoAdfLyIgoPBn8VB"

pictures_url = "http://195.141.112.151:8000/server/uploads/"

#elasticsearch_url = "http://localhost:9200"
#elasticsearch_url = "http://data.iterativ.ch:9200"
elasticsearch_url = "https://search-sensibledata-mnmvjeckzqxbuqjpnrlamqgxhu.eu-central-1.es.amazonaws.com"
elasticsearch_index_url = config[elasticsearch_url]+"/moods/mood/%s"
